.contenedor1{
    text-align: center;
    margin: auto;
}
.centered-container{
    margin: auto;
    text-align: center;
    justify-content: center;
    
}
.col-auto{
    text-align: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}
.nav-item{
list-style-type: none;
}
.buzos{
    margin: auto;
    padding: 2px;;
}
.carousel-inner{
    justify-content: center;
    text-align: center;
    margin: auto;
}
.col{
    background-color: black;
    color:darkgoldenrod
}
.d-block {
    width: 700px;
    height: 700px;
}

.h2{
    text-align: center;
    color: rgb(251, 249, 252);
    background-color: black;
}
.navbar-brand{
    color: darkgoldenrodnavbar-brand;
}